.page404__content {
  position: relative;
  top: expression((body.offsetHeight-this.offsetHeight)/2 + "px");
}

.brands-list__visual {
  position: relative;
  top: expression((parentNode.offsetHeight-this.offsetHeight)/2 + "px");
}

.basket__product-visual,
.basket__product,
.basket__product-name,
.blue-btn,
.light-gray-btn,
.light-gray-btn_print .btn-ico,
.gray-btn,
.gray-btn .btn-ico,
.delete-btn,
.count-input,
.radio,
.checkbox,
.checkbox-list__item label,
.inline-select,
.inline-select__opener,
.to-cart,
.compare-btn__ico,
.product__info-box,
.product__price-through,
.header-info__phone,
.view-type-ico,
.compare-list__remove-btn,
.gallery__switchers-item,
.product-general__switchers-item,
.brand__title-aligner,
.brand__logo,
.brand__slogan {
  display: inline;
  zoom: 1;
}

.basket__product {
  cursor: pointer;
}

.view-type-ico {
  float: left;
}

.brands-list {
  margin-left: -1px;
}

.brands-list__item {
  margin-right: -1px;
  margin-left: 1px;
}

.product-filters__row,
.current-filters,
.mini-cart__costs-row,
.mini-cart__list-item,
.product-filters__view-settings {
  zoom: 1;
}

.checked {
  display: none;
}