.action-promo {
	margin: 0 0 19px;
	overflow: hidden;
	max-height: 140px;
	overflow: hidden;
	position: relative;
	&__link {
		display: block;
		position: relative;
		text-decoration: none;
	}
	&__info {
		position: absolute;
		text-transform: uppercase;
		letter-spacing: 2.5px;
		top: 35px;
		left: 50%;
		padding-left: 3px;
		width: $wrapperWidth;
		margin-left: -($wrapperWidth / 2);
	}
	&__title {
		font: 16px/20px "helveticaneuecyrthin", helvetica, arial, sans-serif;
		color: $gray;
		margin: 0 0 10px;
	}
	&__description {
		font: 16px/20px "helveticaneuecyrlight", helvetica, arial, sans-serif;
		color: $textColor;
	}
}