.actions-block{
	&__title-holder {
		padding: 21px 0 17px;
		background:$orange;
	}
	&__title {
		color: white;
		.dot-title& {
			background-image: url($pathToImg + "/ico13.png");
			margin-bottom: 0;
			padding-left: 36px;
		}
	}
}