.breadcrumbs {
	margin: 0 0 11px;
	font: 13px/14px "helveticaneuecyrthin",arial, sans-serif;
	letter-spacing: 1px;
	color: $gray;
	padding: 0 0 0 8px;
	a {
		color: $darkColor1;
		text-decoration: none;
		font-family: "helveticaneuecyrlight",arial, sans-serif;
		&:hover {
			color: $blue;
		}
	}
	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	&__item {
		display: inline;
	}
}