.contacts {
	.holder {
		position: relative;
	}
	&__aside-bg {
		left: 50%;
		margin-left: ($wrapperWidth / 2 - 357);
		right: 0;
		background: $newsBg;
		position: absolute;
		bottom: 0;
		top: 0;
	}
	.action-promo + &{
		margin-top: -19px;
	}
	&__ask {
		.blue-btn {
			margin-left: 3px;
			height: 44px;
			line-height: 44px;
			font-size: 14px;
			padding: 0 20px;
		}
	}
	&__aside {
		float: right;
		width: 308px;
		position: relative;
		z-index: 5;
		padding: 56px 0 0 100px;
	}
	&__info {
		overflow: hidden;
		padding-top: 38px;
	}
	&__dl {
		margin: 0;
		padding: 21px 15px 16px 0;
		float: left;
		width: 320px;
	}
	&__dt {
		float: left;
		width: 80px;
		color: $gray;
		margin-right: 5px;
	}
	&__dd {
		letter-spacing: 1px;
		overflow: hidden;
		margin-bottom: 17px;
		color: $darkColor1;
		font-family: "helveticaneuecyrroman", helvetica, arial, sans-serif;
	}
	&__work-time {
		overflow: hidden;
		font:17px/20px "helveticaneuecyrroman", helvetica, arial, sans-serif;
		margin: 0 0 30px;
		border: 1px solid $blue;
		color: $gray;
		padding: 26px 0 11px 31px;
		&-dt {
			float: left;
			width: 65px;
			margin-right: 2px;
		}
		&-dd {
			color: $darkColor2;
			overflow: hidden;
			margin: 0 0 16px;
		}
	}
	&__map {
		position: relative;
		*{
			vertical-align: top;
		}
	}
}
.map-bullet2 {
	position: absolute;
	width: 144px;
	height: 60px;
	margin: -60px 0 0 -72px;
	bg("bullet2.png");
	text-indent: -9999px;
	overflow: hidden;
}