.footer {
    overflow: hidden;
    padding: 20px 0;
}
.copyrights {
    color: $btnGray;
    font-weight: normal;
    font-size: 14px;
    float: left;
    line-height: 18px;
    padding-top: 30px;
}
.creator {
    float: right;
    min-width: 213px;
    img {
        vertical-align: top;
    }
    &__text {
        font: 11px/14px arial, sans-serif;
        color: #666;
    }
}