body {
	color: $textColor;
	font: 15px/18px "helveticaneuecyrlight", Helvetica, arial, sans-serif;
	min-width: 1000px;
	background:white;
}
a {
	color: $blue;
	&.no-link {
		text-decoration: none;
		color: $textColor;
	}
}
.content-wrapper {
	width: $wrapperWidth;
	margin: 0 auto;
}
.content-holder {
	margin: 0 0 80px;
}
.content-border {
	border-top: 1px solid $borderGray;
	padding-top: 55px;
}
.btn-holder {
	text-align: center;
	margin: 0 0 40px;
}
.two-columns {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
	.column {
		width: 426px;
		float: right;
		&:first-child {
			float: left;
		}
	}
}
.content-text {
	font-size: 16px;
	line-height: 28px;
	padding: 0 0 20px;
	color:$gray;
	p {
		margin: 0 0 28px;
	}
}
.text-holder {
	padding: 0 0 18px;
	p {
		margin: 0 0 18px;
	}
}
.dot-title {
	margin: 0 0 31px 17px;
	padding:0 0 0 20px;
	font-weight: normal;
	letter-spacing: 3px;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: $darkColor1;
	opacity: 0.9;
	bg("ico04.png", 0, 50%);
}
h1 {
	text-transform: uppercase;
	color: $darkColor1;
	margin: 0 0 18px;
	letter-spacing: 4px;
	font: 36px/40px "helveticaneuecyrthin", Helvetica, arial, sans-serif;
}
h2 {
	color: $darkColor1;
	margin: 0 0 32px;
	letter-spacing: 0.8px;
	font: 17px/24px "helveticaneuecyrroman", Helvetica, arial, sans-serif;;	
	text-transform: uppercase;
}
.hidden {
	display: none;
}
.holder {
	overflow: hidden;
}
.no-bold {
	font-weight: normal;
}
.ico-link {
	margin: 0 0 18px;
	&:after {
		content: '';
		display: block;
		clear: both;
	}
	a {
		float: left;
		padding: 2px 0 2px 39px;
		color:$blue;
		line-height: 22px;
		text-decoration: none;
		bg("ico22.png");
		&:hover {
			text-decoration: underline;
		}
	}
}
.orange-head {
	background: #ff8400;
	margin-top: -19px;
	padding: 19px 0 3px;
	&,h1,.breadcrumbs, .breadcrumbs a {
		color: #fff;
	}
	.breadcrumbs a:hover {
		color: $textColor;
	}
	.nav-home {
		background-position: 0 -187px;
		&:hover {
			background-position: 0 0;
			
		}
	}
}
.orange-border-head {
	margin-bottom:-4px;
	padding-bottom:4px;
	position: relative;
	z-index: 5;
	bg("decor.png",0, 100%,repeat-x);
}
.mb12 {
	margin-bottom: 12px !important;
}
.text-visual {
	margin: 0 0 47px;
	&:after {
		content: '';
		display: block;
		clear: both;
	}
	&_right img{
		float: right;
	}
	img {
		vertical-align: top;
	}
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}