bg(u, x =0, y = 0, r = no-repeat, color = false) {
	if (color){
		background:color url($pathToImg + "/" + u) x y r;
	} else {
		background:url($pathToImg + "/" + u) x y r;
	}
	
}
opacity(n){
  opacity: n;
  if (support-for-ie){
    -ms-filter: unquote('"progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')"');
    filter: unquote('alpha(opacity=' + round(n * 100) + ')');
  }
}