.news{
	padding: 31px 0 0;
	&_last {
		background: $newsBg;
		padding: 0 0 33px;
	}
	&__item {
		margin-bottom: 58px;
		padding-left: 48px;
		overflow: hidden;
		&_small {
			margin-bottom: 42px;
			padding-left: 0;
		}
		&_small + & {
			padding-top: 31px;
		}
		&_small + &_small{
			padding-top: 0;
		}
	}
	&__date {
		font: 16px/20px "helveticaneuecyrthin", helvetica, arial, sans-serif;
		color: $gray;
		margin: 0 0 9px 2px;
		letter-spacing: 2px;
	}
	&__title {
		font-size: 22px;
		line-height: 30px;
		text-transform: uppercase;
		margin: 0 0 17px;
		letter-spacing: 2px;
		a {
			color: $textColor;
			text-decoration: none;
			display: inline-block;
			&:hover {
				color: $blue;
			}
		}
	}
	&__item_small &__title {
		font-size: 18px;
		line-height: 28px;
		margin: 0 0 17px;
	}
	&__visual {
		float: left;
		margin: 0 25px 0 -48px;
	}
	&__description {
		font-size: 16px;
		line-height: 26px;
		padding-top: 31px;
		overflow: hidden;
		color: $gray;
	}
	&__item_small &__description {
		font-size: 15px;
		line-height: 22px;
		padding-top: 0;
	}
	&__column {
		float: left;
		margin-left: 53px;
		width: 450px;
		&:first-child {
			margin-left: 0;
		}
	}
	&__holder {
		overflow: hidden;
	}
	&__btns {
		text-align: center;
		padding: 30px;
	}
}
.big-news {
	position: relative;
	min-height: 280px;
	margin-bottom: 35px;
	&__visual {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		text-align: right;
		img{
			width: auto;
			vertical-align: top;
			min-height: 100%;
		}
	}
	&__info {
		width: 50%;
		padding: 55px 0 37px 50px;
		&-holder {
			width: $wrapperWidth;
			margin: 0 auto;
			position: relative;
			z-index: 2;
		}
	}
	&__date {
		color: $gray;
		font: 20px/24px "helveticaneuecyrthin", Helvetica, arial, sans-serif;
		margin: 0 0 12px -40px;
		padding: 0 0 0 40px;
		letter-spacing: 2px;
		bg("ico05.png",0,50%)
	}
	&__title {
		text-transform: uppercase;
		letter-spacing: 3px;
		margin-bottom: 22px;
		font: 34px/48px "helveticaneuecyrthin", helvetica, arial, sans-serif;
		a {
			color: $textColor;
			text-decoration: none;
			&:hover {
				color: $blue;
			}
		}
	}
	&__description {
		font-size: 18px;
		line-height: 28px;
		color: $darkColor1;
		min-height: 100px;
	}
}