.popup-holder {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 200;
	&__bg {
		background: #fff;
		opacity: 0.8;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
	}
}
.popup {
	position: relative;
	left: 50%;
	top: 0;
	margin-left: -216px;
	width:312px;
	border: 1px solid $blue;
	background: #fff;
	padding: 46px 59px 50px;
	&__title {
		font:19px/25px "helveticaneuecyrroman", helvetica, arial, sans-serif;
		margin-bottom: 24px;
		color: $darkColor1;
		padding-left: 5px;
	}
	&__close {
		position: absolute;
		right: 20px;
		top: 18px;
		width: 20px;
		height: 19px;
		bg("popup-close.png");
		text-indent: -9999px;
		overflow: hidden;
		&:hover {
			background-position: 0 -81px;
		}
	}
}