.products-catalogue {
	&__title {
		position: relative;
		margin-bottom: 12px;
		&-text {
			position: absolute;
			width: $wrapperWidth;
			left: 50%;
			top: 68px;
			letter-spacing: 2px;
			z-index: 5;
			text-transform: uppercase;
			margin-left: -($wrapperWidth / 2 - 3);
			font: 30px/30px "helveticaneuecyrlight", helvetica, arial, sans-serif;
		}
		img {
			vertical-align: top;
			width: 100%;
			height: auto;
		}
	}
	.menu__title {
		font-size: 18px;
		line-height: 24px;
	}
	.menu {
		padding-bottom: 40px;
	}
}
