.product-list {
	max-width: $maxWidth;
	margin: 0 auto 46px;
	list-style: none;
	padding: 0;
	position: relative;
	overflow: hidden;
	&__item {
		float: left;
	}
	&-btns {
		text-align: center;
		.category_left-filters & {
			width: 754px;
		}
	}
}
.product {
	overflow: hidden;
	position: relative;
	width: 33.3333333%;
	max-height: 369px;
	&_nav {
		height: 368px;
		width: 286px;
		float: right;
		margin: -2px -2px 0 0;
		.product__ico {
			left: 9px;
		}
		.product__visual img {
			width: auto;
			height: auto;
			min-height: 0;
		}
	}
	&_w2 {
		width: 66.666666%;
	}
	a {
		text-decoration: none;
	}
	&__info {
		position: absolute;
		bottom: 33px;
		text-align: center;
		left: 10px;
		right: 10px;
		z-index: 5;
		&_p2 {
			width: 45%;
			left: auto;
			bottom: auto;
			top: 84px;
			right: 50px;
		}
		&-box {
			display: inline-block;
			vertical-align: top;
			background:#fff;
			background: rgba(255,255,255,0.95);
			padding: 17px 25px 14px 25px;
			margin-bottom: -12px;
		}
	}
	&__title {
		font-size: 16px;
		line-height: 22px;
		font-weight: normal;
		display: block;
		text-transform: uppercase;
		margin: 0 0 11px;
		color: $darkColor2;
		position: relative;
		z-index: 2;

		&:before {
			content: '';
			position: absolute;
			left: 20px;
			top: 50%;
			right: 20px;
			height: 0;
			z-index: -1;
			box-shadow: 0 0 60px 26px #fff;
		}
	}
	.product_w2 &__title {
		font-size: 18px;
		line-height: 22px;
		margin: 0 0 21px;
	}
	.product_w2 &__price {
		font-size: 20px;
		line-height: 24px;
	}
	&__price {
		color: $blue;
		font: 18px/22px "helveticaneuecyrroman", helvetica, arial, sans-serif;
		&-through {
			position: relative;
			display: inline-block;
			color: $gray2;
			&:after {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				bg("line-through.png", 50%, 50%);
			}
		}
		&-new { 
			margin: 0 0 0 15px;
		}
	}
	&__visual {
		text-align: right;
		img {
			vertical-align: top;
		}
	}
	&__ico {
		position: absolute;
		left: 32px;
		top: 26px;
		text-indent: -9999px;
		overflow: hidden;
		&_sale {
			width: 77px;
			height: 77px;
			bg("ico06.png");
		}
		&_new {
			width: 76px;
			height: 75px;
			bg("ico07.png");
		}
	}
	&__controls {
		position: absolute;
		z-index: 10;
		top: 100px;
		text-align: center;
		width: 190px;
		left: 50%;
		margin-left: -95px;
		top: -200px;
		transition: top 0.25s;
	}
	&:hover &__controls {
		top: 100px;
	}
	&__hover {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		z-index: 5;
		bottom: 100%;
		background: #fff;
		opacity: 0.8;
		transition: bottom 0.25s;
	}
	&:hover &__hover {
		bottom: 0;
	}
	.to-cart {
		display: block;
		text-align: left;
		padding-left: 65px;
		background-position: 28px 12px;
		margin-bottom: 15px;
	}
	&__in-cart {
		height: 48px;
		font: 18px/48px "helveticaneuecyrroman",helvetica, arial, sans-serif;
		color: $blue;
		padding: 0 5px 0 39px;
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		bg('ico19.png',11px,14px);
		border: 1px solid $blue;
		margin-bottom: 15px;
	}
	&__compare-btn,
	&__in-compare {
		display: block;
		padding: 5px 0 5px 70px;
		bg("ico18.png",32px,2px);
		color: $textColor;
		text-decoration: none;
		font-size: 17px;
		line-height: 18px;
		text-align: left;
		margin-bottom: 10px;
	}
	&__compare-btn:hover {
		color: $blue;
		background-position: 32px -76px;
	}
	&__in-compare {
		opacity: 0.6;
		cursor: default;
		padding-left: 60px;
		background-position: 26px 2px;
	}
	&__readmore-btn {
		width: 157px;
		font-size: 13px;
		.h-product-list & {
			width: 141px;
		}
	}
}
.h-product-list {
	list-style: none;
	padding: 0;
	margin: 0 auto 40px;
	max-width: $wrapperWidth;
	.category_left-filters & {
		padding-left: 25px;
		width: auto;
		margin: 0;
	}
	&_sale &__holder {
		width: auto;
		float: left;
	}
	&__holder {
		width: 480px;
		float: left;
	}
	&__visual{
		float: left;
		width: 190px;
		margin-right: 35px;
	}
	&__item {
		border-top: 1px solid $borderGray;
		position: relative;
		overflow: hidden;
		padding: 47px 0 43px;
		&:first-child {
			border: none;
		}
	}
	&__bg {
		position: absolute;
		left: 0;
		top: 34px;
		width: 100%;
		height: auto;
	}
	&_sale &__info {
		margin: 0 auto;
		position: relative;
		z-index: 2;
		padding: 0 0 0 ($wrapperWidth - 670px + 4px);
		width: 670px;
	}
	&__info {
		overflow: hidden;
	}
	&__controls {
		float: right;
		width: 173px;
		margin: 27px 0 0 10px;
		.category_left-filters &  {
			float: left;
			margin-left: 0;
		}
	}
	&__name {
		margin-bottom: 19px;
		font-size: 20px;
		line-height: 28px;
		letter-spacing: 0.8px;
		text-transform: uppercase;
	}
	&__price {
		font-size: 22px;
		margin-right: 10px;
		letter-spacing: 1px;
		color:$blue;
		&_old {
			color:#96abb9;
			display: inline-block;
			position: relative;
			&:after {
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				position: absolute;
				content: '';
				bg("line-through2.png", 50%,50%);
			}
		}
		&-title {
			margin-left: 20px;
		}
		&-holder {
			font: 22px/26px "helveticaneuecyrroman", helvetica, arial, sans-serif;
			overflow: hidden;
			margin-bottom: 22px;
		}
	}
	.to-cart {
		display: block;
		text-align: left;
		padding-left: 56px;
		background-position: 18px 12px;
		margin-bottom: 15px;
	}
	.product__compare-btn,
	.product__in-compare {
		background-position: 12px 2px;
		padding-left: 54px;
	}
	.product__compare-btn:hover {
		background-position: 12px -76px;
		
	}
	&__owner {
		margin-bottom: 23px;
		line-height: 22px;
		letter-spacing: 0.5px;
		&-title {
			margin: 0 10px 0 0;
			color:$gray;
			font: 15px/22px "helveticaneuecyrthin", helvetica, arial, sans-serif;
		}
		img {
			position: relative;
			top: 1px;
		}
		&-name {
			margin-right: 10px;
			font-size: 20px;
			font:20px/22px "helveticaneuecyrroman", helvetica, arial, sans-serif;
		}
		&-country {
			color:$gray;
			font:16px/22px "helveticaneuecyrroman", helvetica, arial, sans-serif;
		}
	}
	&_sale &__description{
		width: auto;
	}
	&__description {
		letter-spacing: 0.3px;
		font-size: 14px;
		line-height: 22px;
	}
}