.tabset {
	margin: 0 0 40px;
}
.tabcontrol {
	margin: 0 0 32px;
	border-bottom: 1px solid $borderGray;
	height: 53px;
	&__item {
		float: left;
		font: 18px/56px "helveticaneuecyrroman",helvetica,arial,sans-serif;
		color: #000;
		border: solid transparent;
		border-width: 1px 1px 0;
		color:$btnGray;
		letter-spacing: 1px;
		padding: 0 19px;
		text-decoration: none;
		height: 53px;
		&.active {
			border-color:$borderGray;
			background: #fff;
			color: $blue;
		}
		&:hover {
			color: $blue;
		}
	}
}
.tab {
	display: none;
	&.active {
		display: block;
	}
}