$pathToImg = "../img";

$topPanelH = 54px;
$wrapperWidth = 976px;
$maxWidth = 1440px;

$darkColor1 = #444;  //used in menu
$darkColor2 = #363b3f; //used in titles, nav, phones
$blue = #1fa3ff;
$blue2 = #46adff;
$hoverBlue = #1fb3ff;
$borderBlue = #0093fa;
$green = #0dab2b;
$lightGreen = #27ae70;
$lightBlue = #96c6f3;
$textColor = #1f2225;
$orange = #f60;
$gray = #858585;
$btnGray = #a9abad;
$lightGray = #f8f8f8; //used in header panel
$gray2 = #b1b1b1;
$borderGray = #eaeaea;
$newsBg = #f7f7f7;
$green = #59c965;
$lightBlue2 = #e8f6ff;
$hoverOrange = #f59733;
$red = #f50935;